<!-- SortableJS CDN -->
{{ attach_library('students/students') }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>

<h1 id="students-list-title">{{ items.title }}</h1>
{% if items.data is empty %}
  <div>No student data are added yet</div>
{% else %}

  <table id="students-table">
   <thead id="students-thead">
      <tr class="thead-students-tr">
        <th class="custom students-th">Student name</th>
        <th class="custom students-th">Student gender</th>
        <th class="custom students-th">Student faculty number</th>
        <th class="custom students-th">Edit student</th>
        <th class="custom students-th">Delete student</th>
      </tr>
   </thead>
    <tbody class="students-table-body" id="sortablelist">
    {% for student in items.data %}
      <tr class="tbody-students-tr" id="student-row-{{ student.id }}" data-sort-order="{{ student.sort_order }}" data-id="{{ student.id }}">
        <td class="students-td">{{ student.name }}</td>
        <td class="students-td">{{ student.gender }}</td>
        <td class="students-td">{{ student.faculty_number }}</td>
        <td class="students-td"><a class="students-a-btn" href="/drupal/edit_student/{{ student.id }}">Edit</a></td>
        <td class="students-td"><a class="use-ajax students-a-btn" href="/drupal/delete_student/{{ student.id }}">Delete</a></td>
  {#      <td>{{ link() }}</td>#}
  {#      <td>{{ link() }}</td>#}
      </tr>
  {% endfor %}
    </tbody>
  </table>
{% endif %}

<form action="{{url('students.update_sort_order')}}">

<script>
  // console.log(sortablelist)
  // new Sortable(sortablelist, {
  //   animation: 150,
  // });
  // console.log(sortablelist)
  $('#sortablelist').sortable({
    axis: 'y',
    update: function (event, ui) {
      var data = $(this).sortable('serialize');
      var Url = $(this).parents('form').attr('action');

      // POST to server using $.post or $.ajax
      $.ajax({
        data: data,
        type: 'POST',
        url: Url
      });
    }
  });
</script>


